{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint", "jest"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "semi": "error",
    "no-trailing-spaces": "error",
    "no-multiple-empty-lines": "error",
    "react/display-name": "off",
    // for jest
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error" 
  },
  "env": {
    "jest/globals": true
  },
  "globals": {
    "window": "readonly",
    "document": "readonly",
    "__dirname": "readonly",
    "module": "writable",
    "require": "readonly",
    "setTimeout": "readonly",
    "setInterval": "readonly",
    "localStorage": "readonly",
    "process": "readonly",
    "jest/globals":true
  }
}